# temp files from editors
*~
*.bak
.DS_Store
.buildpath
.project
.settings
*.tmproj
build
.idea
nbproject/
wp-content/themes/oguhouse/.sass-cache/*

# hidden files created by Windows
Thumbs.db
desktop.ini

# aws s3 uploads
wp-config.php
.htaccess
